@model Asp.NetMVCCrud.Models.Batch
@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-12">
        <h3> Confrim Delete</h3>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.BatchCode, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.DisplayFor(x => x.BatchCode, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.Round, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.DisplayFor(x => x.Round, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.Course, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.DisplayFor(x => x.Course, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.StartDate, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.DisplayFor(x => x.StartDate, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.EndDate, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.DisplayFor(x => x.EndDate, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.IsComplete, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.DisplayFor(x => x.IsComplete, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @using (Html.BeginForm())
            {
                @Html.HiddenFor(x=>x.BatchId)
            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-danger">Confirm Delete</button>
            </div>
            }
    </div>
</div>
<div class="col-12">
    @Html.ActionLink("Back to list", "Index")
</div>

